<?xml version="1.0"?>
<!--
  ~ Magento 2 Inxmail Module
  ~
  ~ @link http://flagbit.de
  ~ @link https://www.inxmail.de/
  ~ @author Flagbit GmbH
  ~ @copyright Copyright © 2017-2018 Inxmail GmbH
  ~ @license Licensed under the Open Software License version 3.0 (https://opensource.org/licenses/OSL-3.0)
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Block\Form\Register">
        <plugin name="disableNewsletter" type="\Flagbit\Inxmail\Plugin\DisableNewsletter"/>
    </type>
    <type name="Magento\Newsletter\Model\Subscriber">
        <plugin name="Inxmail::subscriber" type="Flagbit\Inxmail\Plugin\Newsletter\Subscriber" sortOrder="1"
                disabled="false"/>
    </type>
    <type name="Magento\Framework\Webapi\Request">
        <plugin name="Inxmail::request" type="Flagbit\Inxmail\Plugin\Webapi\Request" sortOrder="1"
                disabled="false"/>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="inx_sync_subscriber" xsi:type="object">Flagbit\Inxmail\Console\Command\Sync\Subscriber</item>
            </argument>
        </arguments>
    </type>
    <type name="Flagbit\Inxmail\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Flagbit\Inxmail\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">inxmail</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Flagbit\Inxmail\Logger\Handler\DebugLog</item>
            </argument>
        </arguments>
    </type>
</config>
