<?xml version="1.0"?>
<!--
  ~ Magento 2 Inxmail Module
  ~
  ~ @link http://flagbit.de
  ~ @link https://www.inxmail.de/
  ~ @copyright Copyright (c) 2017 Flagbit GmbH
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Flagbit_Inxmail" setup_version="1.0.0">
    </module>
</config>
