<?xml version="1.0"?>
<!--
  ~ Magento 2 Inxmail Module
  ~
  ~ @link http://flagbit.de
  ~ @link https://www.inxmail.de/
  ~ @author Flagbit GmbH
  ~ @copyright Copyright © 2017-2018 Inxmail GmbH
  ~ @license Licensed under the Open Software License version 3.0 (https://opensource.org/licenses/OSL-3.0)
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="inxmail" translate="label" sortOrder="1000">
            <label>Inxmail</label>
        </tab>
        <section id="inxmail" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="40">
            <class>separator-top</class>
            <label>Configuration</label>
            <tab>inxmail</tab>
            <resource>Flagbit_Inxmail::inxmail_config</resource>
            <group id="general" translate="label" type="text" showInDefault="1" showInWebsite="0" showInStore="0"
                   sortOrder="10">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="api_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>API Url</label>
                    <comment>API Url</comment>
                </field>
                <field id="api_user" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>API User</label>
                    <comment>API User</comment>
                </field>
                <field id="api_password" translate="label" type="obscure" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>API Password</label>
                    <comment>API Password</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="api_listid" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Inxmail List</label>
                    <comment>Select your Inxmail list</comment>
                </field>
                <field id="version" translate="label" type="label" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Current Version</label>
                    <frontend_model>Flagbit\Inxmail\Block\Adminhtml\System\Config\ModuleVersion</frontend_model>
                </field>
            </group>
            <group id="mapcustomer" translate="label" type="text" showInDefault="1" showInWebsite="0" showInStore="0"
                   sortOrder="20">
                <label>Customer Attribute Mapping</label>
                <field id="mapping" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Mapping Customer Fields</label>
                    <frontend_model>Flagbit\Inxmail\Block\Adminhtml\System\Config\AttributeMapping</frontend_model>
                    <backend_model>Flagbit\Inxmail\Model\Config\AttributeMapping</backend_model>
                </field>
            </group>
            <group id="restauth" translate="label" type="text" showInDefault="1" showInStore="0" showInWebsite="0"
                   sortOrder="30">
                <label>Products API Auth (Rest)</label>
                <field id="rest_user" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Username</label>
                    <comment/>
                </field>
                <field id="rest_password" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Password</label>
                    <comment/>
                </field>
            </group>
        </section>
    </system>
</config>
