<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Magento 2 Inxmail Module
  ~
  ~ @link http://flagbit.de
  ~ @link https://www.inxmail.de/
  ~ @author Flagbit GmbH
  ~ @copyright Copyright © 2017-2025 Inxmail GmbH
  ~ @license Licensed under the Open Software License version 3.0 (https://opensource.org/licenses/OSL-3.0)
  ~
  -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
         colors="true"
         bootstrap="./bootstrap.php"
>
    <testsuites>
        <testsuite name="Flagbit Inxmail">
            <directory suffix="Test.php">./Model</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="date.timezone" value="America/Los_Angeles"/>
        <ini name="xdebug.max_nesting_level" value="200"/>
    </php>
    <source>
        <include>
            <directory suffix=".php">../../</directory>
        </include>
        <exclude>
            <directory>../../Test</directory>
        </exclude>
    </source>
</phpunit>
